@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      font-family: "Cormorant Garamond", serif;
      color: white;
}

header{
    background: linear-gradient(to right, rgba(146, 105, 0, 0.3), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1610632380989-680fe40816c6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZmZlZXxlbnwwfHwwfHx8MA%3D%3D")center /cover no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* hagajinta navka */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

/* logada */
.logo{
    display: flex;
    align-items: center;
    gap: .2rem;
}
.logo i{
    font-size: 2rem;
    color: #eb5200;
}

.logo h1{
    font-size: 2rem;
    color: #eb5200;
}
/* buttons */
.buttons{
    display: flex;
    gap: 1rem;
}

.buttons button, .hero button, .image-one button{
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
}

.buttons button:nth-child(1), .hero button{
    background-color: transparent;
    color: #eb5200;
    border: 1px solid #eb5200;
}
.buttons button:nth-child(2), .image-one button{
    background-color: #eb5200;
    color: white;
}

/* hero */
.hero{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 40px;
    gap: 1rem;
}

.hero h1{
    font-size: 3rem;
    width: 35%;
    background: linear-gradient(to right, #eb5200, #fff);
    -webkit-background-clip: text;
    color: transparent;
}
.hero p{
    font-size: 1.2rem;
    width: 30%;
}

/* about  */
.about-us{
    background-color: rgb(24, 0, 0);
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 146px;
    padding: 5rem;
    border-radius: 1rem;
}

.about{
    display: flex;
    
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carmel{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carmel h1{
    color: #eb5200;
}
.carmel p{
    width: 70%;
    line-height: 2rem;
}

.black-carmel{
    background-color: #131313;
    margin-right: 200px;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.price-content{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.ingrideants{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.ingrideants h3{
    font-size: 1rem;
}
.ingrideants p{
    color: gray;
}

.milk{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.milk h3{
    font-size: 1rem;
}
.milk h3:nth-child(2){
    color: #eb5200;
}

.image img{
    height: 50vh;
    margin-right: 150px;
    border-radius: .5rem;
}

/* products */
.products{
    max-width: 1400px;
    margin-inline: auto;
    color: #131313;
    margin-bottom: 146px;
}
.product{
    display: flex;
    flex-direction: column;
}
.heading{
    color: gray;
    margin-bottom: 1rem;
}
.product-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.image-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}
.image-one p{
    color: gray;
    line-height: 1.3rem;
}
.image-price{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}


.image-one img{
     width: 413px;
    height: 340px;
    border-radius: 1rem;
}


/* testmomnial */

.customer-test{
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 100px;
    background-color:rgb(24, 0, 0) ;
    margin-bottom: 146px;
    padding: 100px;
    border-radius: 1rem;
}

.testmonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.testmonial img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.testmonial p{
    width: 50%;
    text-align: center;
}
.testmonial h3{
    color: #eb5200;
}

/* footers */
.footers{
    background-color: rgb(24, 0, 0);
}

.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-bottom: 1rem; */
    height: 50vh;
        padding: 100px;

}
.logos{
    color: #eb5200;
}
.navs{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
}
.navs h1{
    font-weight: normal;
    font-size: 1.3rem;
}
.compny{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: gray;
}

.footers p{
    text-align: center;
    padding-bottom: .5rem;
    
    /* bottom: 0; */
}